# Vim swap files are ignored
.*.sw?

#Ignore Plug and the plugins themselves
/autoload/plug.vim
/plugged/

#Ignore tags file because it is huge
tags/tags

# ignore the undodir
/undo
/swap
autoload/plug.vim
